.logo {
	margin: 12px 0 0 20px;
	width:234px;
	height:90px;
	background: url(../img/logo.png) no-repeat;
}
.logo_w {
	background: url(../img/logo_w.png) no-repeat;
}
#nav {
	float:left;
	margin: 50px 0 0 51px;
}
#plashka{
	position:static;
}
#krug {
	margin: -280px 0 0 833px;
}
.radio_text{
	margin: 160px 0 0 -500px;
}
.radio_text2{
	margin: 385px 0 0 -500px;
}
#marketing>.radio_text{
	margin: 0 0 0 205px;
}
#footer {
	width:100%;
}
.text {
	margin-top:-268px;
}
#table1 {
	margin: -198px 0 0 315px;
	z-index: expression(
    runtimeStyle.zIndex = 1,
    cellSpacing = 12
  );
  width:62%; 
}
#tehno  .down_m {
	margin-left:450px;
}
#tehno  .top_m {
	margin-left:453px;
}
#fut_img {
	margin-left:200px;
}
.info {
	margin-left:-500px;
}
.tel {
	margin-left:-250px;	
}
.adres {
	margin-left:-250px;	
}
.line {
	margin-top:180px;
	margin-left:-500px;
	height:2px;
	color:#fff;
}
.sphera {
	background: url(../img/sphera.png) no-repeat;
	width:68px;
	height:95px;
	margin-left:140px;
	margin-top:29px;
}
#comb {
	background: url(../img/comb.png) no-repeat;
	width:728px;
	height:486px;
	margin-top:35px;
	margin-left:150px;
}
#comand .radio_text {
	margin-left:203px;
}
