@font-face {
    font-family: HelveticaNeueCyrRoman;
    src: url(../fonts/helveticaneuecyr-roman-webfont.eot);
    src: url(../fonts/helveticaneuecyr-roman-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/helveticaneuecyr-roman-webfont.woff) format('woff'),
         url(../fonts/helveticaneuecyr-roman-webfont.ttf) format('truetype'),
         url(../fonts/helveticaneuecyr-roman-webfont.svg#HelveticaNeueCyrRoman) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: HelveticaNeueCyrLight;
    src: url(../fonts/helveticaneuecyr-light-webfont.eot);
    src: url(../fonts/helveticaneuecyr-light-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/helveticaneuecyr-light-webfont.woff) format('woff'),
         url(../fonts/helveticaneuecyr-light-webfont.ttf) format('truetype'),
         url(../fonts/helveticaneuecyr-light-webfont.svg#HelveticaNeueCyrLight) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyrThin';
    src: url(../fonts/helveticaneuecyr-thin-webfont.eot);
    src: url(../fonts/helveticaneuecyr-thin-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/helveticaneuecyr-thin-webfont.woff) format('woff'),
         url(../fonts/helveticaneuecyr-thin-webfont.ttf) format('truetype'),
         url(../fonts/helveticaneuecyr-thin-webfont.svg#HelveticaNeueCyrThin) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url(../fonts/myriadpro-regular_-webfont.eot);
    src: url(../fonts/myriadpro-regular_-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/myriadpro-regular_-webfont.woff) format('woff'),
         url(../fonts/myriadpro-regular_-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url(../fonts/helveticaneuecyr-bold-webfont.eot);
    src: url(../fonts/helveticaneuecyr-bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/helveticaneuecyr-bold-webfont.woff) format('woff'),
         url(../fonts/helveticaneuecyr-bold-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*_____COMMON_____________________________________________________________________________________________*/

html {
	overflow:auto;
}
html, body, all{
	height:100%;
	width:100%;
}
body{
	margin:0;
	padding:0; 
	min-width:1200px;
}
a {
	text-decoration: none !important;
	cursor:pointer;
}
a:hover {
	text-decoration: underline;
	color:#ccc;
}
a:active, a:focus, a:hover, img {
	outline:0;
	border:none;
}

h1{
	color:#fff;
	font:2.25em HelveticaNeueCyrLight;
}
/* #main{
	min-height:100%;
	margin: 0 0 -30px 0;
} */
#all{
	 overflow:hidden; 
	 padding-bottom:-275px; 
}
#wrap {
	position:absolute;
	margin-top:-50px;
	width:1200px;
}

/*_____HEADER___________________________________________________________________________________________________*/

#header {
	overflow:hidden;
	width:100%;
	height:110px;
	background-color:#fff;
}
.logo {
	float:left;
	margin: 12px 0 0 20px;
	background: url(../img/logo.svg) no-repeat;
	width:234px;
	height:90px;
}
#nav {
	float:left;
	margin: 35px 0 0 92px;
}
.menu {
	padding:0 6px 0 0;
}
.menu li {
	float:left;
	margin:0 11px;
	position:relative;
	list-style-type:none;
}
.menu a {
	display:block;
	margin:0;
	color:#555;
	text-decoration:none;
	font:0.95em HelveticaNeueCyrThin;
}
#p:hover {
	color:#555;
	cursor:default;
}
.menu li:hover > a{
	color:#0581D2;
}
.position {
	position:absolute;
	margin-top:14px;
	padding:0;
}


/*_____PROEKTY____________________________________________________________________________________________________*/

#proekty {
	width:100%;
	height:570px;
	/*background: #b4cce2;  Для старых браузров */
    background: -moz-linear-gradient(bottom left, #b4cce2, #daeaf7); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left bottom, right top,
                color-stop(100%,#b4cce2), color-stop(100%,#cadfef));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(bottom left,  #b4cce2, #daeaf7);
    background: -o-linear-gradient(bottom left, #b4cce2, #daeaf7); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom left, #b4cce2, #daeaf7); /* IE10 */
    background: linear-gradient(bottom left, #b4cce2, #daeaf7); /* CSS3 */
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4cce2', 
            endColorstr='#daeaf7',GradientType=1);
	
}
/*_____slider________________________________________________________________*/
#wrap2 {
	/* overflow:hidden; */
	/* margin:2px 0 0 0;  */
	position:relative;
	width:1062px;
	height:570px;
/* 	margin:0;
	padding:0; */
}
/* #sht1, #sht2, #sht3{
	float:left;
} */
#sht1{
	overflow:hidden; 
	width:1062px;
	height:570px;
	/*  margin:0 0 0 75px; */
	position:absolute; 
}
#sht2{
	overflow:hidden;
	width:1062px;
	height:570px;
	/*  margin:0 0 0 75px; */
	position:relative; 
	display:none;
}


.shtuka {
	position:relative;
}
.first, .two_img, .three_img{
	width:1065px;
	height:570px;
}
#proekty {
	position:relative;
	padding:0;
}
#plashka {
	position:absolute;
	margin:-455px 0 0 205px;
}
.cifry li {
	margin:-5px 0;
	position:relative;
	list-style-type:none;
}
.cifry a {
	margin:0;
	color:#000;
	text-decoration:none;
	font:0.75em HelveticaNeueCyrRoman;
}
.text {
	position:absolute;
	margin:-460px 0 0 355px;
	color:#fff;
	font:2.2em HelveticaNeueCyrLight;
}
#krug {
	color:#fff;
	font:1em MyriadProRegular;
	position:absolute;
	text-align:center;
	margin: -478px 0 0 833px;
}
.qubik {
	margin:-550px 0 0 530px;
}
.qubik > span {
/* 	color:#FECE00; */
/* 	color:#027ed0; */
	color:#DDAF00; 
}
.qubik1{
	position:absolute;
	/* padding:0 6px 0 0; */
	margin:-189px 0 0 230px;
}
.qubik1 li{
	color:#000;
	font:0.9em HelveticaNeueCyrThin;
	font-weight:bold;
	float:left;
	margin:0 40px;
	list-style-type:none;
}
.qubik2{
	position:absolute;
	/* padding:0 6px 0 0; */
	margin:-157px 0 0 230px;
}
.qubik2 li {
	color:#000;
	font:0.8em HelveticaNeueCyrThin;
	font-weight:bold; 
	float:left;
	margin:0 30px;
	list-style-type:none;
}
.li1 {
	padding:15px 0 0 25px;
}
/* ___________ table________________ */
#table1 {
	margin:-200px 0 0 195px;
	border-spacing:45px 12px;
	width:700px;
	height:72px;
	/* width:100%; */
}
.tab1{
	color:#000;
	font:0.7em helveticaneuecyrbold;
	/* font-weight:bold; */
	/* margin:0 40px; */
}
#table2 {
	margin:10px 0 0 300px;
	border-spacing:15px 0px;
	position:relative;
	vertical-align:middle;
	/* width:390px; */
	width:65%;
}
.tab2{
	color:#000;
	font:0.8em helveticaneuecyrbold;
	line-height:0.9em;
	width:50px;
	/* font-weight:bold; */
	/* margin:0 40px; */
}
.cifra {
	color:#000;
	font:3em helveticaneuecyrbold;
	/* font-weight:bold; */
	float:left;
	margin: -10px 7px 0 0;
}
.cifra3 {
	color:#000;
	font:3em helveticaneuecyrbold;
	/* font-weight:bold; */
	float:left;
	margin: -4px 6px 0 0;
}

/* ___________ /table________________ */
.text2_img {
	margin:4px 0 0 225px;
	width:666px;
	height:53px;
}

#strelka_l {
    position: absolute;
    margin-top: -290px;
    margin-left: 50px;
	width:28px;
	height:52px;
}

#strelka_r {
	position: absolute;
	margin-top: -290px;
	margin-left: 1020px;
	width:28px;
	height:52px;
}

#mycarousel {
	
}

/*_____TEHNO____________________________________________________________________________________________________*/

#tehno {
	position:relative;
	overflow:hidden;
	width:100%;
	height:615px;
	
	background: -moz-linear-gradient(bottom left, #027ed0, #32b5f7); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left bottom, right top, 
                color-stop(100%,#027ed0), color-stop(100%,#32b5f7));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(bottom left,  #027ed0, #32b5f7);
    background: -o-linear-gradient(bottom left, #027ed0, #32b5f7); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom left, #027ed0, #32b5f7); /* IE10 */
    background: linear-gradient(bottom left, #027ed0, #32b5f7); /* CSS3 */ 
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027ed0', 
            endColorstr='#32b5f7',GradientType=1);
}
.logo_w{
	float:left;
	margin: 40px 0 0 102px;
	background: url(../img/logo_w.svg) no-repeat;
	width:91px;
	height:78px;
	
}
.radio {
	float:left;
	margin: 50px 0 0 8px;
	width:500px;
}
.radio_text{
	position:absolute;
	margin: 112px 0 0 203px;
	color:#fff;
	font:0.9em HelveticaNeueCyrRoman;
}
#marketing>.radio_text{
	margin-top:0;
}
.logo2{
	margin: 275px 0 0 -600px;
}
.radio2 {
	margin: 285px 0 0 -497px;
}
.radio_text2{
	margin: 345px 0 0 203px;
}

#tehno  .top_m {
	position:absolute;
	margin-top:575px;
	margin-left:1023px;
	width:26px;
	height:17px;
}
#tehno  .down_m {
	position:absolute;
	margin-top:15px;
	margin-left:1015px;
	width:33px;
	height:27px;
}

/*_____MARKETING____________________________________________________________________________________________________*/

#marketing {
	position:relative;
	overflow:hidden;
	width:100%;
	height:615px;

	background: -moz-linear-gradient(bottom left, #099cfe, #6ec1f7); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left bottom, right top,
                color-stop(100%,#099cfe), color-stop(100%,#6ec1f7));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(bottom left,  #099cfe, #6ec1f7);
    background: -o-linear-gradient(bottom left, #099cfe, #6ec1f7); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom left, #099cfe, #6ec1f7); /* IE10 */
    background: linear-gradient(bottom left, #099cfe, #6ec1f7); /* CSS3 */
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#099cfe',
            endColorstr='#6ec1f7',GradientType=1);
}
#marketing >.radio, #komanda >.radio{
	margin-left:201px;
	float:none;
	margin-bottom:13px;
}
#marketing >.vverh{
	margin-top:420px;
}
#marketing .top_m {
	position:absolute;
	margin-top:-16px;
	margin-left:1023px;
	width:26px;
	height:17px;
}
#marketing .down_m {
	position:absolute;
	margin-top:-580px;
	margin-left:1015px;
	width:33px;
	height:27px;
}

.sfera {
	background: url(../img/sfera.png) no-repeat;
	width:68px;
	height:95px;
	margin-left:140px;
	margin-top:29px;
}

#soty {
	background: url(../img/soty.png) no-repeat;
	width:728px;
	height:486px;
	margin-left:200px;
	margin-top:10px;
}

/*_____KOMANDA____________________________________________________________________________________________________*/

#komanda {
	position:relative;
	overflow:hidden;
	/* padding-bottom:-590px; */
	width:100%;
	min-height:601px;
		
	background: -moz-linear-gradient(bottom left, #027ed0, #32b5f7); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left bottom, right top, 
                color-stop(100%,#027ed0), color-stop(100%,#32b5f7));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(bottom left,  #027ed0, #32b5f7);
    background: -o-linear-gradient(bottom left, #027ed0, #32b5f7); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom left, #027ed0, #32b5f7); /* IE10 */
    background: linear-gradient(bottom left, #027ed0, #32b5f7); /* CSS3 */ 
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027ed0', 
            endColorstr='#32b5f7',GradientType=1);
}
.name {
	color:#fff;
	font:1.6em HelveticaNeueCyrThin;
	margin: 0 0 0 201px;
}
.post {
	color:#fff;
	font:1.2em HelveticaNeueCyrThin;
	margin:0 0 30px 201px;
}
#komanda .end {
	margin-bottom:80px;
}
.vakansii {
	position:absolute;
	color:#fff;
	font:0.7em HelveticaNeueCyrLight;
	line-height:1.7em;
	margin:23px 0 0 800px;
}
.kontakt {
	margin-left:712px;
	margin-top:100px;
}
.pavel {
	margin-left:503px;
	margin-top:10px;
}
#ofis {
	position:absolute;
	color:#fff;
	font:0.55em HelveticaNeueCyrLight;
	margin:53px 0 0 570px;
}
#komanda  .top_m {
	position:absolute;
	margin-top:-45px;
	margin-left:1023px;
	width:26px;
	height:17px;
}
#komanda .down_m {
	position:absolute;
	margin-top:-553px;
	margin-left:1015px;
	width:33px;
	height:27px;
}
#komanda .star{
	background: url(../img/star.png) no-repeat;
	width:60px;
	height:60px;
	margin-left:140px;
	margin-top:45px;
} 

/*_____FOOTER____________________________________________________________________________________________________*/

#footer {
	position:relative;
	overflow:hidden;
	left:0; bottom:0;
	width:100%;
	height:275px;
	background-color:#00121c;
	/* margin: 165px 0 0 0; */
}

.top a{
	color:#fff;
	font:1em HelveticaNeueCyrThin;
}
#footer .radio {
	margin-left:201px;
	margin-top:25px;
}
.info {
	position:absolute; 
	color:#fff;
	font:0.8em HelveticaNeueCyrThin;
	margin: 90px 0 0 201px;
}
.zvon{
	margin-top:135px;
} 
.adres {
	margin-left:445px;
}
.tel {
	margin-left:445px;
	margin-top:133px;
	line-height:1.5em;
}
.line {
	margin:195px 0 0 201px;
	$margin:-7px 0;/*for all ie*/
    background-color:#fff;
}
#fut_img{
	background: url(../img/futer.png) no-repeat;
	width:18px;
	height:24px;
	margin-left:205px;
	margin-top:25px;
}
#copyright {
	position:absolute;
	color:#fff;
	font:0.73em HelveticaNeueCyrRoman;
	margin:-20px 0 0 230px;
}




















